.guarantee{
  line-height: 2em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: cyan;
  border-color: chartreuse;
  border-width:3px;
  border-style: solid;
  background-color: chocolate;
  padding: 30px;
  margin: 30px;
  background-repeat: no-repeat;
  background-position: top left;
}
#elixirs{
  border-width: thin;
  border-style: solid;
  border-color: darkgreen;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 209x;
  text-align: center;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
}